* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.dashboard{
    width: 100vw;
    height: 100vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.split-display {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.panel {
    border: 2px solid #ffffff;
    border-radius: 16px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel h2 {
    font-size: 2rem;
    margin: 0 0 18px 0;
    text-transform: uppercase;
}

.temperature {
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 18px 0;
}

.humidity {
    font-size: 2.2rem;
    margin: 0;
}