<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Indoor Weather Station</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <button id="menu-button" class="menu-button">☰</button>
    <div id="side-menu" class="side-menu hidden">
    <button id="camera-button" class="menu-option">Loading...</button>
</div>
<div id="alert-box" class="alert-box hidden">
    <h1 id="alert-title">Alert</h1>
    
    <p id="alert-message"></p>

    <button id="snooze-alert-button" class="alert-button">
        Snooze Warning
    </button>
</div>
    <main class="dashboard">
       <section class="split-display">
        <div class="panel">
            <h2>Inside</h2>
            <p class="temperature">
                <span id="inside-temperature-f">
                {{ data.inside.temperature_f }}
                </span>°F /
                <span id="inside-temperature-c">
                    {{ data.inside.temperature_c }}</span>°C
            </p>
            <p class="humidity">
               Humidity: <span id="outside-humidity">{{ data.outside.humidity }}</span>%
            </p>
            <p class="pressure">
                Pressure: <span id="inside-pressure">{{ data.inside.pressure_hpa }}</span> hPa
            </p>
        </div>

        <div class="panel">
            <h2>Outside</h2>
            <p class="temperature">
                <span id="outside-temperature-f">
                    {{ data.outside.temperature_f }}
                </span>°F /
                <span id="outside-temperature-c">
                    {{ data.outside.temperature_c }}
                </span>°C
            </p>
            <p class="humidity">
                Humidity: <span id="outside_humidity">--</span>%
            </p>
            <p class="pressure">
                Pressure:<span id="outside-pressure">{{ data.outside.pressure_hpa }}</span> hPa
            </p>
        </div>

       </section>
    </main>

    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>